@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ### Primary */

--Blue: hsl(246, 80%, 60%);

--Light-red/* (work) */:  hsl(15, 100%, 70%);
--Soft-blue /* (play) */: hsl(195, 74%, 62%);
--Light-red /* (study) */: hsl(348, 100%, 68%);
--Lime-green /* (exercise) */: hsl(145, 58%, 55%);
--Violet /* (social) */: hsl(264, 64%, 52%);
--Soft-orange /* (self care) */: hsl(43, 84%, 65%);

    /* ### Neutral*/
--Very-dark-blue: hsl(226, 43%, 10%); 
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);

}
body{
    background-color: var(--Very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#head {
    border-radius:50%;
}
.exception{
    color: white;
}
@media (min-width: 768px) {
    .card {
        flex-grow: 1;

    }
}
@media (min-width: 1100px) {
    .main {
        padding: 0 6rem 0 6rem ;
    }
    .card {
        flex-basis: 200px;
        flex-grow: 1;
    }
    
}
